.navBar-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 30;
}
.navBar-parent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 30px 100px 30px 100px;
}
.navBar-title {
  display: flex;
  width: 60%;
  height: 100%;
  justify-content: center;
}
.navBar-title h1 {
  color: azure;
  font-size: 60px;
  font-weight: bold;
  font-family: "Roboto Slab", serif;
  font-weight: 900;
}

.navBar-list {
  display: flex;
  justify-content: space-around;
  align-self: center;
  width: 100%;
  height: 100%;
  padding: 10px 20px 10px 20px;
}
.navBar-list a {
  color: rgb(236, 232, 249);
  font-size: 22px;
  margin-right: 16px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}
.navBar-list-active a {
  color: #ff5823;
  font-size: 24px;
  margin-right: 16px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}

@media screen and (max-width: 910px) {
  .navBar-parent {
    margin-right: 50px;
  }
  .navBar-title h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 810px) {
  .navBar-parent {
    flex-direction: row-reverse;
  }
  .navBar-title h1 {
    font-size: 60px;
  }

  .navBar-mobile {
    display: flex;
    align-items: center;
  }
  .navBar-mobile-icon {
    display: flex;
    font-size: 60px;
    color: azure;
  }
  .navBar-list-mobile-options {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 0px;
    left: -100%;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    background-color: #15172c;

  }
  .navBar-list-mobile-options-open .navBar-list-mobile-options{
    -webkit-animation: slide 1.5s forwards;
    animation: slide 1.2s forwards;
    transition: 1.2s ease-in-out;

  }
  @-webkit-keyframes slide {
    100% {
      left: 0;
    }
  }
  @keyframes slide {
    100% {
      left: 0;
    }
  }

  .navBar-list-mobile-options-close .navBar-list-mobile-options{
    -webkit-animation: slideOut 0.4s forwards;
    animation: slideOut 1.2s forwards;
    transition: 0.4s ease-out;
  }

  @-webkit-keyframes slideOut {
    0% {
      left: 0;
    }
  }
  @keyframes slideOut {
    0% {
      left: 0;
    }
  }
  .navBar-list-mobile-options a {
    color: rgb(236, 232, 249);
    font-size: 26px;
    border-radius: 20px;
    margin-right: 16px;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
  }
}
