.projects-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 8px;
}

.projects-place {
  display: flex;
  padding: 30px 0px 0px 24px;
  justify-content: space-between;
  width: 100%;
}
.projects-name-dot li {
  font-size: 18px;
  font-weight: bold;
  color: #0cbfae;
  margin: 0 0px 0px 20px;
}
.projects-name-dot {
  display: flex;
  flex-direction: row;
  font-size: 14px;
}
.projects-name h2 {
  margin: 6px 0px 0px 42px;
  font-size: 15px;
  font-weight: 500;
}

.projects-year {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0cbfae;
  height: 40px;
  width: 100px;
  border-radius: 20px;
  margin-right: 25px;
}
.projects-year h1 {
  margin-top: 6px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
.projects-name-technologies {
  margin-top: 20px;
}

@media screen and (max-width: 1110px) {
  .projects-container {
    padding-top: 0px;
  }
}

@media screen and (max-width: 720px) {
  .projects-place {
    padding: 30px 0px 0px 4px;
  }
  .projects-name-dot li {
    font-size: 18px;
    font-weight: bold;
    color: #0cbfae;
    margin: 0 0px 0px 5px;
  }
  .projects-name h2 {
    margin: 6px 0px 0px 10px;
    font-size: 13px;
  }

  .projects-year {
    height: 28px;
    width: 100px;
    margin-right: 3px;
  }
  .projects-year h1 {
    margin-top: 6px;
    font-size: 13px;
  }
  .projects-name-technologies {
    margin-top: 10px;
    margin-left: 6px;
  }
}

@media screen and (max-width: 375px) {
}
