.interests-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.interest {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.interest-name-title {
  display: flex;
  align-items: center;
}
.interest-name-title li {
  font-size: 1.3rem;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 10px;
  color: #09bead;

}
.interest p {
  font-size: 1rem;
  padding-left: 70px;

}

@media screen and (max-width: 720px) {
  .interest-name-title {
    padding-left: 0px;
  }
  .interest-name-title {
    padding-left: 0px;
  }
  .interest-name-title h3 {
    font-size: 1.2rem;
    padding-left: 0px;
    padding-top: 10px;
  }
  .interest p {
    font-size: 0.9rem;
    padding-left: 20px;
  }
}
  