/* project: css */
.demo-projects-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding-bottom: 8vh;
}
.demo-projects-parent {
  display: flex;
  left: 0;
  height: 580px;
  width: 100vw;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.p-scroll {
  padding-block: 26px;
  padding-inline: 8px;
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 990px;
  height: 100%;
}
.demo-projects-parent section {
  scroll-snap-align: center;
  display: flex;
  height: 360px;
  min-width: 260px;
  margin: 30px;
  transform: scale(1);
  transition-delay: 0.2s;
  transition: all 0.8s ease-out;
  opacity: 0.72;
  background-size: cover;
  background-color: rgb(35, 70, 92);
  background-image: linear-gradient(
      45deg,
      rgba(0, 170, 255, 0.5) 50%,
      transparent 50%
    ),
    linear-gradient(-45deg, rgba(0, 136, 204, 0.5) 50%, transparent 50%);
}
.demo-projects-parent .current-project {
  position: relative;
  scroll-snap-align: center;
  transform: scale(1.2);
  border-radius: 8px;
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  z-index: 100;
  transition-delay: 0.3s;
  transition: all 0.8s ease-in-out;
  background-color: #e6f7ff;
  -webkit-box-reflect: below 0px -webkit-linear-gradient(bottom, rgba(
          255,
          255,
          255,
          0.3
        )
        0%, transparent 30%);
}

.demo-projects-parent section:nth-child(7) {
  background-image: linear-gradient(
      45deg,
      rgba(68, 255, 0, 0.5) 50%,
      transparent 50%
    ),
    linear-gradient(-45deg, rgba(0, 204, 3, 0.5) 50%, transparent 50%);
}
.demo-projects-parent section:nth-child(2) {
  background-image: linear-gradient(
      45deg,
      rgba(238, 255, 0, 0.5) 50%,
      transparent 50%
    ),
    linear-gradient(-45deg, rgba(187, 204, 0, 0.5) 50%, transparent 50%);
}
.demo-projects-parent section:nth-child(3) {
  background-image: linear-gradient(
      45deg,
      rgba(187, 0, 255, 0.5) 50%,
      transparent 50%
    ),
    linear-gradient(-45deg, rgba(163, 0, 204, 0.5) 50%, transparent 50%);
}
.demo-projects-parent section:nth-child(4) {
  background-image: linear-gradient(
      45deg,
      rgba(255, 0, 0, 0.5) 50%,
      transparent 50%
    ),
    linear-gradient(-45deg, rgba(204, 0, 0, 0.5) 50%, transparent 50%);
}
.demo-projects-parent section:nth-child(5) {
  background-image: linear-gradient(
      45deg,
      rgba(84, 0, 96, 0.5) 50%,
      transparent 50%
    ),
    linear-gradient(-45deg, rgba(108, 0, 112, 0.5) 50%, transparent 50%);
}
.demo-projects-parent section:nth-child(6) {
  background-image: linear-gradient(
      45deg,
      rgba(0, 255, 242, 0.5) 50%,
      transparent 50%
    ),
    linear-gradient(-45deg, rgba(0, 204, 204, 0.5) 50%, transparent 50%);
}
.demo-projects-parent .other-projects {
  box-shadow: 0px 8px 15px -7px #111;
  -webkit-box-reflect: below 0px -webkit-linear-gradient(bottom, rgba(
          255,
          255,
          255,
          0.25
        )
        0%, transparent 30%);
}
.demo-projects-parent .other-projects:hover {
  box-shadow: 0px 8px 15px -7px #111;
  transform: scale(1.05);
  border-radius: 10px;
  opacity: 0.9;
  transition: all 0.4s ease-in-out;
  background-color: #9d9d9d;
  -webkit-box-reflect: below 0px -webkit-linear-gradient(bottom, rgba(
          255,
          255,
          255,
          0.3
        )
        0%, transparent 30%);
}

/* section: css */

.project-section-container {
  display: flex;
  width: 260px;
  flex-direction: column;
}

.project-section-header {
  display: flex;
  height: 90px;
  flex-direction: column;
  align-items: center;
  margin-top: 4px;
}
.project-section-header h1 {
  font-size: 1.3rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin: 0 !important;
  padding: 0 !important;
  text-align: center;
}
.project-section-header h2 {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
  margin-top: 3px;
  padding: 0 !important;
  text-align: center;
}
.project-section-image {
  display: flex;
  flex-direction: column;
  height: 200px;
}
.project-section-options {
  height: 61%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project-section-tehcnologies {
  margin-top: 20px;
}
.project-section-options h2 {
  font-size: 1.1rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
  padding: 2px !important;
}
.project-section-options h2 span {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  padding-inline: 6px !important;
}
.project-section-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 6px !important;
  padding-bottom: 2px;
}
.project-section-buttons .btn {
  width: 120px;
}
.project-section-buttons .highlighted-btn:hover {
  background-color: rgb(248, 211, 207);
}
.video-show {
  align-self: center;
  background-color: rgb(44, 44, 44);
  height: 200px;
}
.p-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 15px;
  height: 50px;
  width: 100px;
  margin-inline: 40px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: bold;
  transition-duration: 0.3s;
  border: none;

  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  box-shadow: rgba(44, 94, 187, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 94, 187, 0.15) 0 1px 2px, rgba(44, 94, 187, 0.15) 0 2px 4px,
    rgba(44, 94, 187, 0.15) 0 4px 8px, rgba(44, 94, 187, 0.15) 0 8px 16px,
    rgba(44, 94, 187, 0.15) 0 16px 32px;
  color: rgb(0, 53, 128);
  background-color: #c2d4fb;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.p-btn:hover {
  box-shadow: rgba(44, 94, 187, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 94, 187, 0.25) 0 1px 2px, rgba(44, 94, 187, 0.25) 0 2px 4px,
    rgba(44, 94, 187, 0.25) 0 4px 8px, rgba(44, 94, 187, 0.25) 0 8px 16px,
    rgba(44, 94, 187, 0.25) 0 16px 32px;
  transform: scale(1.05);
}

.arrow {
  font-size: 20px;
  color: rgb(0, 53, 128);
}
.arrow--left {
  animation: wobble 2s ease infinite;
}
.arrow--right {
  animation: wobble 2s ease infinite;
}
@keyframes wobble {
  0% {
    transform: translateX(0%);
  }
  15% {
    transform: translateX(-25%) rotate(-5deg);
  }
  30% {
    transform: translateX(20%) rotate(3deg);
  }
  45% {
    transform: translateX(-15%) rotate(-3deg);
  }
  60% {
    transform: translateX(10%) rotate(2deg);
  }
  75% {
    transform: translateX(-5%) rotate(-1deg);
  }
  100% {
    transform: translateX(0%);
  }
}

/* blank section: css */
.project-blank-section-container {
  width: 320px;
  flex-direction: column;
  height: 200px;
}

/* Counter: css */

.counter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  gap: 5px;
  transform: translateY(-80%);
}

.counter-circle {
  background-color: #eee;
  border: 1px solid rgb(166, 166, 166);
  border-radius: 50%;
  height: 12px;
  width: 12px;
  transition: all 0.5s ease-in-out;
}
.counter-circle-selected {
  background-color: var(--light-blue-shadow);
  border: 1px solid var(--sea-green);
  border-radius: 50%;
  height: 12px;
  width: 12px;
  translate: 0px -5px;
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
}

.arrow-icon {
  margin-inline: 46px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 4px;
}

.arrow-icon i {
  cursor: pointer;
  font-size: 30px;
  color: #1f2235;
}

/* width sizes: css */

@media screen and (max-width: 1110px) {
}

@media screen and (max-width: 810px) {
  .p-scroll {
    overflow-x: scroll;
  }
  .p-scroll::-webkit-scrollbar {
    display: none;
  }
  .demo-projects-parent .other-projects {
    scroll-snap-align: center;
    margin: 5vw;
    transition-delay: 0s;
    transition: all 0.6s ease-out;
    -webkit-box-reflect: below 0px -webkit-linear-gradient(bottom, rgba(
            255,
            255,
            255,
            0.3
          )
          0%, transparent 24%);
  }
  .demo-projects-parent .other-projects:hover {
    border-radius: 0;
    background-color: rgb(35, 70, 92);
    opacity: 0.72;
  }
  .demo-projects-parent .current-project {
    transition: all 0.4s ease-in-out;
    -webkit-box-reflect: below 0px -webkit-linear-gradient(bottom, rgba(
            255,
            255,
            255,
            0.3
          )
          0%, transparent 24%);
  }
}

@media screen and (max-width: 375px) {
  .demo-projects-parent section {
    height: 47vh;
    min-width: 30vh;
  }
  .project-section-buttons .btn {
    width: 80px;
  }
  .video-show {
    height: 90px;
  }
}
