.contact-info-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin-top: 20px;
}
.contact-info-parent {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding-inline-start: 14px;
}

.contact-info-container h1 {
  color: azure;
  font-size: 40px;
  font-family: "Roboto Slab", serif;
  font-weight: 900;
  opacity: 0.94;
  width: 300px;
}
.contact-info-container h2 {
  color: var(--toast-shadow);
  font-size: 20px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  padding-top: 74px;
  padding-left: 4px;
  opacity: 0.9;
}

.contact-info-icons .contact-info-icon label {
  font-size: 20px;
  margin: 10px 0px 10px 20px;
  color: azure;
  opacity: 0.94;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.contact-info-icons .contact-info-icon label:hover {
  color: rgb(169, 254, 254);
  transform: scale(2);
  transition: 0.5s ease-out;
}

.contact-info-image {
  border-radius: 8px;
  width: 100%;
  opacity: 0.8;
}

.infi-input-loop {
  height: 34px;
  background-color: azure;
  width: 3px;
  margin-left: 10px;
  margin-bottom: 12px;
  align-self: center;
  animation: inputLoop 0.4s alternate infinite;
}

@keyframes inputLoop {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 940px) {
  .contact-container {
    flex-direction: column;
    width: 99%;
    height: 100%;
    padding: 0 !important;
  }
  .contact-info-email {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-self: center;
    align-self: center;
    align-items: center;
  }
  .contact-info-image {
    width: 390px;
    align-items: center;
    margin: 0 !important;
  }
  .contact-info-container h2 {
    padding: 0 !important;
    font-size: 18px;
    margin-left: 4px;
  }
  .contact-info-container h1 {
    color: azure;
    font-size: 34px;
    margin-top: -22px;
  }
  .infi-input-loop {
    margin: 0 !important;
    padding: 0 !important;
    align-self: flex-start;
    translate: -40px -20px;
    height: 30px;
  }
}

@media screen and (max-width: 420px) {
  .contact-info-image {
    width: 240px;
    margin: 0 !important;
  }
}
