/* Resume: css */

.resume-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.resume-card {
  display: flex;
  height: 360px;
  width: 1000px;
}

/* Options mobile: css */

@media screen and (max-width: 1110px) {
  .resume-card {
    width: 880px;
  }
}

@media screen and (max-width: 1020px) {
  .resume-card {
    width: 90%;
    height: 100%;
    flex-direction: column;
  }
}
