.scroller {
  height: 360px;
  overflow-y: hidden;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

/* info: css */

.resum-info {
  width: 75%;
  height: 100%;
}

.resum-info-education {
  display: flex;
  height: 100%;
}
.resum-info-workHistory {
  display: flex;
  height: 100%;
}
.resum-info-skills {
  display: flex;
  height: 100%;
}
.resum-info-projects {
  display: flex;
  height: 100%;
}
.resum-info-interests {
  display: flex;
  height: 100%;
}

@media screen and (max-width: 1110px) {
  .resum-info {
    height: 360px;
  }
}

@media screen and (max-width: 1020px) {
  .resum-info {
    width: 100%;
    height: 410px;
  }
}
