.scroller {
  height: 360px;
  overflow-y: hidden;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}
.scrollspy {
  overflow-y: hidden;
  height: 360px;
}

@media screen and (max-width: 1020px) {
  .scrollspy {
    width: 90vw;
    margin-left: -12px;
    overflow-y: scroll;
  }
}
